
@keyframes build-detail-appear {
    from {
        opacity: 0;
    }  
    to {
        opacity: 1;
    }
}


.build-detail-wrapper {
    animation-name: build-detail-appear;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    z-index: 3;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.build-detail {
    width: 90%;
    height: 90%;
    background-color: rgba(42, 42, 42, 1);
    border-radius: 1em;
    z-index: 4;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar-thumb {
        background-color: rgb(216, 216, 216);
        border-radius: 0.2em;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(94, 94, 94);
        border-radius: 0.2em;
    }

    &::-webkit-scrollbar {
        width: 15px;
    }

    .title {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.hidebutton {
    width: 40px;
    height: 40px;

    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;

    background-color: rgba(103, 103, 103, 0.5);
    // border: 2px solid rgb(217, 217, 217, 0.5);
    border-radius: 50%;
    z-index: 5;

    &::before {
        content: "\00d7";
        position: relative;
        top: -20px;
        left: 3px;
        font-size: 50px;
        color: rgba(255, 255, 255, 0.5);
        transform: rotote(45deg);
    }

    &:hover {
        cursor: pointer;
        background-color:rgba(131, 131, 131, 0.5) ;
    }
}

.left {
    align-self: flex-start;
}

.detail-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first-container {
    width: 70%;
}

.second-container {
    // position: sticky;
    top: 20px;
    width: 29%;

}

@media (max-width: 1150px) {
    .first-container {
        width: 100%;
    }

    .second-container {
        position: relative;
        width: 100%;
    }
}


@keyframes infinite-loop {
    from {
        transform: rotateZ(0deg)
    }
    to {
        transform: rotateZ(360deg)
    }
}

.resetbutton-wrapper {
    // width: 40px;
    height: 40px;
    background-color: rgb(198, 198, 198);
    border-radius: 0.5em 0.2em 0.5em 0.2em;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 25px;

    padding: 5px;

    > div {
        margin: 0px 5px;
        font-size: 10px;
    }

    > i {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    &:hover {
        cursor: pointer;
        background-color: rgb(238, 238, 238);

        // > i {
        //     transform: rotateZ(9000deg);
        //     transition-duration: 50s;
        //     transition-timing-function: linear;
        // }
    }
}





