
@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading {
    animation-duration: 1.5s;
    animation-name: loading;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    > .loading-info {
      color: gray;
      font-size: 0.7em;
    }
}