.buildutil {
    padding: 2px 5px;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > :nth-child(1) {
        margin-left: 10px;
    }

    > :nth-child(2) {
        margin-right: 10px;
    }

}

.smallfont {
    font-size: 1.2rem;
}

.majorId {
    padding: 10px 15px;
    font-weight: 500;
    font-style: italic;
}