.buildassignsequence-wrapper {
    margin: 20px;
    width: 100%;

    .buildassignsequence-container {
        width: 95%;
        // min-height: 200px;
        padding: 15px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #3a3a3a;
        border-radius: 0.5em;
        font-size: 1.1rem;
        font-weight: 700;
        color: white;

 

        & > div {
            margin: 5px;
        }

        .text {
            color: white;
            font-size: 1.2rem;
            margin: 10px;
        }
    }
}

.buildassignsequence-row-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.buildassignsequence-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}