.buildstats-wrapper {

    margin: 30px 1%;
    width: 98%;
    display: flex;
    flex-direction: column;
    // font-size: 0.8rem;
    align-items: center;
    justify-content: center;

    > .buildstats-title {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .buildstats-content {

        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: center;
        // justify-content: space-evenly;

        .buildstats-content-part {
            margin: 2%;
            width: 45%;
            min-width: 300px;
            flex: 1 1 40%;
            border-radius: 0.2em;
            background-color: rgb(58, 58, 58);

            div {
                font-weight: 600;
                font-size: 1.25rem;
            }
        }
    }
}

@media (max-width:800px) {
    .buildstats-content-part {
        width: 90%;
    }
}