.buildstats-wrapper {

    margin: 30px 1%;
    width: 98%;
    display: flex;
    flex-direction: column;
    font-size: 1.4vw;
    font-style: oblique;
    align-items: center;
    justify-content: center;

    > .buildstats-title {
        color: white;
        font-weight: bold;
        font-size: 2vw;

    }

    > .buildstats-content {

        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: center;
        justify-content: space-evenly;

        > .buildstats-content-part {
            margin: 2%;
            // width: 45%;
            flex: 1 1 40%;
            border-radius: 0.2em;
            min-width: 300px;
            background-color: rgb(58, 58, 58);
        }
    }
}