.buildrequirements {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}

.individual-stat {
    position: relative;
    // margin: 10px;
    // flex-grow: 1;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .stat-text {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > :nth-child(1) {
            font-size: 5rem;
            // text-shadow: 2px;
            font-style: normal;

            &:hover {
                filter: blur(3px);
            }
        }
        > :nth-child(2) {
            font-size: 1.4rem;
            margin-bottom: 5px;
            font-weight: bold;
        }
        > :nth-child(3) {
            font-size: 1.2rem;
            font-weight: bold;
            background-color: transparent;
            width: 50px;
            text-align: center;
            border: 0px;
            margin: 2px;

            &:hover {
                border: 2px solid white;
                border-radius: 0.2em;
                margin: 0;
            }
        }

        button {
            background-color: rgb(56, 209, 0);
            border-radius: 0.2em;
            border: 2px solid rgb(0, 151, 81);
            position: absolute;
            bottom: -22px;

            padding-left: 0px;
            color: rgb(236, 236, 236);
            font-size: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            > i {
                text-align: center;
                display: flex;
                flex-direction: row;
            }

            &:hover {
                cursor: pointer;
                background-color: rgb(68, 243, 5);
            }
        }
    }

    &:hover {
        cursor:help;
    }
}

.stat-info {
    position: absolute;
    height: 40px;
    z-index: 6;
    border-radius: 0.3em;
    font-weight: bold;
    font-size: 0.5vw;
    color: rgb(230, 230, 230);

    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;


    > :nth-child(1) {
        font-size: 2rem;
    }
    > :nth-child(2) {
        font-size: 1rem;
    }
}

.stat-scroll-select {
    &:hover {
        cursor: ns-resize;
    }
}
